<%- include("../layouts/adminheaders") %>
<%- include("../layouts/sidebar") %>


<div class="main">
  <h1>Welcome Admin 👋</h1>

  <div class="cards">
    <div class="card">Total Users: 120</div>
    <div class="card">Active Drivers: 45</div>
    <div class="card">Today Earnings: ₹12,500</div>
  </div>

  <button onclick="sendNotify()">Send Live Notification</button>
</div>

<%- include("../layouts/adminfooter") %>
