<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/trip.css">
  <link rel="stylesheet" href="/css/drivers.css">
  <link rel="stylesheet" href="/css/adhome.css">
  <link rel="stylesheet" href="/css/bookings.css">
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
