<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="/css/sidebar.css" />
<div class="sidebar">
<div class="logo">
  <img src="/assets/logo.png" alt="Asiaa Travel">
</div>


  <ul class="menu">
    <li>
      <a href="/admin/home"><i class="bi bi-speedometer2"></i> <span>Dashboard</span> </a>
    </li>

    <li>
      <a href="/admin/drivers" > <i class="bi bi-people-fill"></i> <span>Drivers</span> </a>
    </li>

    <li class="nav-item">
      <a href="/admin/bookings"> <i class="bi bi-car-front-fill"></i> <span>bookings</span> </a>
    </li>

    <li class="nav-item">
      <a href="/admin/trips"> <i class="bi bi-truck"></i> <span>Trips</span> </a>
    </li>

    <li class="logout" onclick="logout()">
      <a><span>Logout <i class="bi bi-box-arrow-right"></i></span> </a>
    </li>
  </ul>
</div>